<html>
	<head>
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title>Diet Type - Pet Info</title>
	</head>
<body background="https://www.xmple.com/wallpaper/white-polka-dots-hexagon-blue-3840x2160-c2-ffffff-add8e6-l2-118-300-a-10-f-4.svg"> 	
	{% include "navbar.html" %}
	<div class="container">
	<h3>Pets with Diet Type: {{ diet }}.</h3>
	<h4>Click on a pet for more information!</h4><br>
	<div class="row">
		{% for pets in data.pets %}
			{% if pets.diet|lower == diet|lower %}
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail"><a href="{{ url_for('single_pet', pet=pets.name) }}">
						<img src="{{ pets.img }}" style="width: 100%; height: 200px"i class="img-rounded">
						<div class="caption">
							<h3>{{ pets.name }}</h3>
						</div>
					</a></div>
				</div>
			{% endif %}
		{% endfor %}
	</div>	
	</div>
</body>
</html>

