<html>
	<head>
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title>Pet Info</title>
	</head>
<body background="https://www.xmple.com/wallpaper/white-polka-dots-hexagon-blue-3840x2160-c2-ffffff-add8e6-l2-118-300-a-10-f-4.svg"> 	
	{% include "navbar.html" %}
	<div class="container" style="background-color: white; outline: 2px solid #add8e6;">
		{% for pets in data.pets %}
			{% if pets.name|lower == pet_name|lower %}
				<h2>{{ pets.name }}<h2>
				<div>
					<img src="{{ pets.img}}" class="img-rounded" style="max-width: 50%"/><br><br>
				</div>
				<h4>Life expectancy: {{ pets.lifespan}} Years</h4>
				<h4>Type: <a href="{{ url_for('pet_type', petType=pets.category) }}">{{ pets.category }}</a></h4>
				<h4>Diet: <a href="{{ url_for('diet_type', dietType=pets.diet) }}">{{ pets.diet }}</a></h4>
				<h3>Overview</h3>
				<p>{{ pets.overview }}</p>
				<h3>Care</h3>
				<p>{{ pets.care }}</p>
				<h3>Diet Info</h3>
				<p>{{ pets.dietinfo }}</p><br><br>
			{% endif %}
		{% endfor %} 
	</div>
</body>
</html>

